body {
  /* reset css */
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}
/* Css Header Banner */
.header {
  height: 1010px;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}

.background_header {
  width: 100%;
  height: 930px;
}

.main_top {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0px;
  left: 0px;
}
.nav_bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 156px;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 425.48px;
  height: 34px;
  margin-left: 40px;
  align-items: center;
  text-align: center;
  color: white;
}
.logo_center {
  position: absolute;
  display: flex;
  width: 246px;
  height: 78px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
}

.social_button {
  display: flex;
  width: 170.96px;
  height: 40.99px;
  margin-right: 40px;
  justify-content: space-between;
}

.main_title {
  display: flex;
  color: aliceblue;
  padding: 10px 0px;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.main_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.main_text_box {
  width: 812px;
  height: 303px;
}

.title_main {
  font-size: 2.5rem;
  height: 174px;
}

.button_try {
  display: flex;
  width: 236px;
  height: 52px;
  background: #2091f9;
  border-radius: 35px;
  align-items: center;
  justify-content: center;
  color: white;
}

/* End Css Header Banner */

/* Start Css Feature */
.feature {
  display: flex;
  flex-direction: column;
}

.feature_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-transform: none;
  width: 538px;
  height: 148px;
}

h4 {
  font-weight: normal;
  text-align: center;
}

.feature_items {
  display: flex;
  flex-direction: row;
  width: 856px;
  height: 236px;
  align-self: center;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
}

.feature_video {
  display: flex;
  width: 1177.34px;
  height: 658.3px;
  left: -59.57px;
  top: 52px;
  align-self: center;
}

/* End Css Feature */

/* Start Css Intro */

.intro {
  display: flex;
  width: 1231px;
  height: 924px;
  flex-direction: row;
  margin: auto;
  align-items: center;
}

.intro_box {
  width: 530px;
  height: 322px;
  display: flex;
  justify-self: start;
  flex-direction: column;
}
.intro_txt {
  width: 316px;
  height: 212px;
}
.title_intro {
  text-align: left;
  font-size: 2.5rem;
  height: 118px;
}
.description_intro {
  height: 87px;
}
.computer_img {
  display: flex;
  width: 661px;
  height: 386px;
}
/* End Css Intro */

/* Start Css Email */
.email {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 725px;
  margin: auto;
  align-self: center;
}
.email_image {
  width: 854px;
  height: 514px;
}
.email_title_box {
  width: 304px;
  height: 147px;
}
.email_box {
  width: 603px;
  align-self: center;
  height: 361px;
}

.subscrible_box {
  width: 477px;
  height: 199px;
}
.subscrible_form {
  display: flex;
  width: 457px;
  height: 126px;
  align-items: center;
  justify-content: space-around;
}

.title_bold {
  font-style: bold;
}

.title_big {
  font-size: 3rem;
}

#email_subscrible {
  width: 273px;
  height: 54px;
  background: #f4f4f4;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 39px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

input:focus {
  outline: none;
}

#btn_subscrible {
  display: flex;
  width: 172px;
  height: 58px;
  background: #2091f9;
  border-radius: 35px;
  border: 0;
  border-color: 1px solid #2091f9;
  outline: none;
  padding: 19px 38px;
  align-items: center;
  align-self: center;
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.subsrible_description {
  color: #374754;
  font-style: normal;
}

/* End Css Email */

/* Start Css Partner */
.partner {
  display: flex;
  width: 1440px;
  height: 877px;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
}
.partner_text {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 538px;
  height: 188px;
}
.partner_items {
  display: grid;
  align-self: center;
  align-items: center;
  grid-gap: 0px;
  width: 1075px;
  height: 308px;
  grid-template-columns: auto auto auto auto;
}
.grid-item {
  background-color: white;
  width: 270px;
  height: 149px;
  border: 1px solid #d8d8d8;
  font-size: 30px;
  text-align: center;
  justify-self: end;
}
.grid-item > img {
  width: 193px;
  height: 63px;
  left: 40px;
  top: 67.51px;
}
#partner_button_try {
  display: flex;
  align-self: center;
}
.title_item {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* End Css Partner */

/* Start Css Test */
.test {
  display: flex;
  flex-direction: column;
  width: 1439px;
  height: 774px;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.test_title {
  display: flex;
  height: 70px;
  width: 120px;
}

.test_description_box > img {
  width: 149px;
  height: 60px;
}

.test_description_box {
  display: flex;
  width: 974px;
  height: 296px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.test_avatar {
  display: flex;
  flex-direction: row;
  width: 183px;
  justify-content: space-around;
  height: 50px;
}
/* End Css Test */
